---
lang: en
---
<html lang="en">

<!-- head -->
{% include head.html title="About Us - CIRTA" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="/static/img/title/team-bg.jpg" title="About Us" subtitle="" meta="" %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

 <p>
CIRTA is a nonprofit corporation dedicated to research and technological development.
 </p>

		<h3>Mission</h3>
                <p>
"To create and apply scientific and technological knowledge to generate innovations with tangible and sustainable impact, promoting equitable and collaborative progress among companies, universities, and society."
                </p>

		<h3>Vision</h3>
                <p>
"We aspire to a fairer, more resilient, and more connected society, where scientific and technological progress contributes to sustainable development, social inclusion, a competitive economy, and an ethical environment that promotes the common good."
                </p>

        <h3>What we do</h3>
<p>
We develop and implement solutions in robotics and applied artificial intelligence, with a focus on [e.g.: agriculture, education, and industrial automation].

Our programs include:
<ul>
    <li>Development of technology platforms (simulation and applied robotics).</li>
    <li>Execution of R&D projects with companies and universities.</li>
    <li>Training and education in robotics and emerging technologies.</li>
</ul>
</p>


            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}


</body>
</html>
