---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="About Us - CIRTA" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/title/team-bg.jpg" title="About Us" subtitle="" meta="" %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

		<h3>Misión</h3>
                <p>
“Crear y aplicar conocimiento científico y tecnológico para generar innovaciones con impacto tangible y sostenible, promoviendo un progreso equitativo y colaborativo entre empresas, universidades y la sociedad.”

                </p>

		<h3>Visión</h3>
                <p>
“Aspiramos a una sociedad más justa, resiliente y conectada, donde el avance científico y tecnológico contribuya a un desarrollo sostenible, a la inclusión social, a una economía competitiva y a un entorno ético que promueva el bien común.”
                </p>

 

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}


</body>
</html>