---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="EduRobotics - CIRTA" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/title/edurobotics-bg.jpg" title="EduRobotics" subtitle="" meta="" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    <h2 class="section-heading">Resumen</h2>

                    <p>Nuestra plataforma permite a estudiantes aprender robótica desde cero a través de simulaciones interactivas, rutas de aprendizaje y herramientas digitales. Actualmente cuenta con un simulador operativo usado por más de 200 estudiantes, que valida usabilidad y flujo de aprendizaje. Funciona como base para la enseñanza de robótica avanzada, preparándolos para integrar hardware real en etapas futuras. La solución es escalable, accesible y diseñada para reducir brechas educativas en STEM, formando talento técnico avanzado listo para el mercado laboral y la innovación tecnológica.</p>





                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
