---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Bender - UChile Homebreakers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/title/agrobot-bg.jpg" title="AgroBot" subtitle="Smart robotic sorting and packaging platform for export fruit" meta="" %}



    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    <h2 class="section-heading">Resumen</h2>

<p> AgroBot consiste en una plataforma robótica de clasificación y empaquetado inteligente para frutas y hortalizas de
exportación, equipada con visión computacional entrenada ajustada a la cosecha objetivo. Automatiza la identificación de
calidad, tamaño y madurez, permitiendo clasificar en tiempo real y empaquetar los productos de manera uniforme y eficiente.</p>

<p>La plataforma incorpora un brazo robótico propio en desarrollo, diseñado específicamente para la tarea de recoger frutas y
hortalizas, optimizado para reducción de costos y aceleración de procesos, lo que permite su eventual escalabilidad a múltiples
unidades y mejora la eficiencia de PYMEs.</p>



                   



                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
