---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Homebreakers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/title/team-bg.jpg" title="About Us" subtitle="Team" meta="" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">Team</h2>

                    <p></p>

          
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/team/lmartinez.jfif" alt=""/>
                                <div class="mask">
                                    <h2>Luz Martínez</h2>
                                    <p><b>Presidenta</b><br> </p>
                                    <a href="https://www.linkedin.com/in/gonzalo-olguin/" target="_blank" class="btn">more</a>
                                </div>
                            </div>
                            <blockquote>Luz Martínez<br>Presidenta</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/team/jastorga.png" alt=""/>
                                <div class="mask">
                                    <h2>Jose Astorga </h2>
                                    <p><b>Team Manager</b><br> </p>
                                    <!-- <a href="https://www.linkedin.com/in/gonzalo-olguin/" target="_blank" class="btn">more</a> -->
                                </div>
                            </div>
                            <blockquote> Jose Astorga <br>Team Manager</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/team/rnavarro.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Rodrigo Navarro </h2>
                                    <p><b>Team Leader</b><br>
                                        E.E. MSc. Student  </p>
                                    <a href="https://www.linkedin.com/in/rodrigo-navarro-a11911252/?originalSubdomain=cl" target="_blank" class="btn">more</a>
                                </div>
                            </div>
                            <blockquote> Rodrigo Navarro<br> Team Leader</blockquote>
                        </div>

                      


                </div>
                
         


    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
