---
# this is an empty front matter
---

<html lang="en">

{% include head.html title="Transparencia - CIRTA" %}

<body>

{% include navigation.html %}

{% include header_img.html image="static/img/title/team-bg.jpg" title="Transparencia" subtitle="" meta="" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <h3>Información legal</h3>
      <p>
        <strong>Nombre:</strong> CORPORACION CIRTA<br>
        <strong>RUT:</strong> 65.272.022-6<br>
        <strong>Tipo:</strong> Corporación sin fines de lucro<br>
        <strong>Fecha de constitución:</strong> 13/03/2026<br>
        <strong>Representante legal:</strong> Luz Martínez</p>

      <h3>Directorio</h3>
      <ul>
        <li>Directora: Luz Martinez</li>
        <li>Tesorero: José Astorga</li>
        <li>Secretario: Francisco Cáceres</li>
      </ul>

      <h3>Áreas de trabajo</h3>
      <ul>
        <li>Robótica aplicada</li>
        <li>Inteligencia artificial</li>
        <li>Educación tecnológica</li>
      </ul>

      <h3>Actividades</h3>
      <ul>
        <li>Desarrollo de proyectos de investigación y desarrollo (I+D).</li>
        <li>Colaboración con empresas, universidades y organizaciones públicas.</li>
        <li>Diseño e implementación de soluciones tecnológicas.</li>
        <li>Programas de formación y capacitación en tecnologías emergentes.</li>
      </ul>

      <h3>Financiamiento</h3>
      <p>
        La corporación se financia mediante fondos públicos, proyectos de investigación y desarrollo,
        colaboraciones con entidades privadas y otras fuentes compatibles con su naturaleza sin fines de lucro.
      </p>

    </div>
  </div>
</div>

<hr>

{% include footer.html %}
{% include bottom.html %}

</body>
</html>