---
lang: pt
---
<html lang="pt">

<!-- head -->
{% include head.html title="Sobre Nós - CIRTA" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="/static/img/title/team-bg.jpg" title="Sobre Nós" subtitle="" meta="" %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

 <p>
A CIRTA é uma corporação sem fins lucrativos dedicada à pesquisa e ao desenvolvimento tecnológico.
 </p>

		<h3>Missão</h3>
                <p>
"Criar e aplicar conhecimento científico e tecnológico para gerar inovações com impacto tangível e sustentável, promovendo um progresso equitativo e colaborativo entre empresas, universidades e a sociedade."
                </p>

		<h3>Visão</h3>
                <p>
"Aspiramos a uma sociedade mais justa, resiliente e conectada, na qual o avanço científico e tecnológico contribua para um desenvolvimento sustentável, para a inclusão social, para uma economia competitiva e para um ambiente ético que promova o bem comum."
                </p>

        <h3>O que fazemos</h3>
<p>
Desenvolvemos e implementamos soluções em robótica e inteligência artificial aplicada, com foco em [ex: agricultura, educação e automação industrial].

Nossos programas incluem:
<ul>
    <li>Desenvolvimento de plataformas tecnológicas (simulação e robótica aplicada).</li>
    <li>Execução de projetos de P&D com empresas e universidades.</li>
    <li>Formação e capacitação em robótica e tecnologias emergentes.</li>
</ul>
</p>


            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}


</body>
</html>
