---
lang: pt
---
<html lang="pt">

<!-- head -->
{% include head.html title="AgroBot - CIRTA" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="/static/img/title/agrobot-bg.jpg" title="AgroBot" subtitle="Plataforma inteligente de classificação e embalagem robótica para frutas de exportação" meta="" %}



    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    <h2 class="section-heading">Resumo</h2>

<p> AgroBot é uma plataforma robótica de classificação e embalagem inteligente para frutas e hortaliças de
exportação, equipada com visão computacional treinada e ajustada para a colheita-alvo. Ela automatiza a identificação de
qualidade, tamanho e maturação, permitindo classificar em tempo real e embalar os produtos de forma uniforme e eficiente.</p>

<p>A plataforma incorpora um braço robótico próprio, atualmente em desenvolvimento, projetado especificamente para a tarefa de
colher frutas e hortaliças, otimizado para reduzir custos e acelerar processos, o que permite sua eventual escalabilidade para
múltiplas unidades e melhora a eficiência de PMEs.</p>







                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
