---
lang: pt
---
<html lang="pt">

<!-- head -->
{% include head.html title="Equipe - CIRTA" %}

<link href="/static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="/static/img/title/team-bg.jpg" title="Sobre Nós" subtitle="Equipe" meta="" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">Equipe</h2>

                    <p></p>


                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="/static/img/team/lmartinez.jfif" alt=""/>
                                <div class="mask">
                                    <h2>Luz Martínsaaez</h2>
                                    <p><b>Doutora em Robótica e Inteligência Artificial </b><br> </p>
                                     <a href="https://www.linkedin.com/in/luz-martinez-79ab0450/" target="_blank" class="btn">Linkedin</a>
                                </div>
                            </div>
                            <blockquote><b>Luz Martínez</b><br><b>Diretora</b> <br>Doutora em Robótica e Inteligência Artificial</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="/static/img/team/jastorga.jpg" alt=""/>
                                <div class="mask">
                                    <h2>José Astorga </h2>
                                    <p><b>Mestre em Ciência da Computação</b><br> </p>
                                     <a href="https://www.linkedin.com/in/jos%C3%A9-astorga-tobar-290877167/" target="_blank" class="btn">Linkedin</a>
                                </div>
                            </div>
                            <blockquote><b>José Astorga</b> <br>Mestre em Ciência da Computação</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="/static/img/team/fcaceres.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Francisco Cáceres</h2>
                                    <p><b>Engenheiro Civil Mecânico</b><br> </p>
                                     <a href="https://www.linkedin.com/in/francisco-a-c%C3%A1ceres-v%C3%A9liz/" target="_blank" class="btn">Linkedin</a>
                                </div>
                            </div>
                            <blockquote><b>Francisco Cáceres</b><br><b>Líder de Hardware</b> <br> Engenheiro Civil Mecânico</blockquote>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="/static/img/team/eormenio.jfif" alt=""/>
                                <div class="mask">
                                    <h2>Elías Ormeño </h2>
                                    <p><b>Estudante de Engenharia Civil Mecânica</b><br> </p>
                                     <a href="https://www.linkedin.com/in/el%C3%ADas-orme%C3%B1o-043651292/" target="_blank" class="btn">Linkedin</a>
                                </div>
                            </div>
                            <blockquote><b>Elías Ormeño</b> <br> <b>Líder de Parcerias Estratégicas</b> <br> Estudante de Engenharia Civil Mecânica</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="/static/img/team/rnavarro.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Rodrigo Navarro </h2>
                                    <p><b>Engenheiro Civil Eletricista</b><br> </p>
                                    <a href="https://www.linkedin.com/in/rodrigo-navarro-a11911252/?originalSubdomain=cl" target="_blank" class="btn">Linkedin</a>
                                </div>
                            </div>
                            <blockquote><b>Rodrigo Navarro</b> <br>Engenheiro Civil Eletricista</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="/static/img/team/jpardo.jpeg" alt=""/>
                                <div class="mask">
                                    <h2>Julian Pardo</h2>
                                    <p><b>Estudante de Engenharia Civil Mecânica</b><br> </p>
                                </div>
                            </div>
                            <blockquote><b>Julian Pardo</b> <br><b>Trainee de Mecânica</b> <br>Estudante de Engenharia Civil Mecânica</blockquote>
                        </div>

                        </div> <!-- row -->
                </div>
            </div>
        </div>
    </article>


    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
