---
lang: pt
---

<html lang="pt">

{% include head.html title="Transparência - CIRTA" %}

<body>

{% include navigation.html %}

{% include header_img.html image="/static/img/title/team-bg.jpg" title="Transparência" subtitle="" meta="" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <h3>Informações legais</h3>
      <p>
        <strong>Nome:</strong> CORPORACION CIRTA<br>
        <strong>RUT:</strong> 65.272.022-6<br>
        <strong>Tipo:</strong> Corporação sem fins lucrativos<br>
        <strong>Data de constituição:</strong> 13/03/2026<br>
        <strong>Representante legal:</strong> Luz Martínez<br>
        <strong>Endereço postal:</strong> Av. Rodelillo 4299, Valparaíso, Chile </p>

      <h3>Diretoria</h3>
      <ul>
        <li>Diretora: Luz Martinez</li>
        <li>Tesoureiro: José Astorga</li>
        <li>Secretário: Francisco Cáceres</li>
      </ul>

      <h3>Áreas de atuação</h3>
      <ul>
        <li>Robótica aplicada</li>
        <li>Inteligência artificial</li>
        <li>Educação tecnológica</li>
      </ul>

      <h3>Atividades</h3>
      <ul>
        <li>Desenvolvimento de projetos de pesquisa e desenvolvimento (P&D).</li>
        <li>Colaboração com empresas, universidades e organizações públicas.</li>
        <li>Design e implementação de soluções tecnológicas.</li>
        <li>Programas de formação e capacitação em tecnologias emergentes.</li>
      </ul>

      <h3>Financiamento</h3>
      <p>
        A corporação é financiada por meio de fundos públicos, projetos de pesquisa e desenvolvimento,
        colaborações com entidades privadas e outras fontes compatíveis com sua natureza sem fins lucrativos.
      </p>

    </div>
  </div>
</div>

<hr>

{% include footer.html %}
{% include bottom.html %}

</body>
</html>
